@using BookGroup.Components
@code {
    string[] FormNames = { "email", "password" };
}
<Form_old FormNames="@FormNames"></Form_old>

<SignUpModal></SignUpModal>

<span>Or </span>
<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#signup-modal">Sign Up</button>