<div class="modal fade center" tabindex="-1" role="dialog" id="add-post-modal">
    <div class="modal-content">
        <form>
            <div class="modal-main-content">
                <h3 class="modal-title">Submit a new post</h3>

                <div class="form-group">
                    <label for="inputQuote">Quote</label>
                    <input name="quote" class="form-control" id="inputQuote" aria-describedby="quoteHelp" placeholder="Alas poor Yorick, I knew him well . . .">
                    <small id="emailHelp" class="form-text text-muted">Submit a quote or a general observation</small>
                </div>
                <div class="form-group">
                    <label for="inputQuoteLocation">Location of Quote</label>
                    <input name="quote" class="form-control" id="inputQuoteLocation" placeholder="End of chapter 5.2 / page 500 in Oxford edition">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
                <button class="btn btn-secondary">Close</button>
            </div>
        </form>
    </div>
</div>


@code {
    public EventCallback<bool> OnClose { get; set; }
    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
}
