@page "/form-example-1"
@using Microsoft.Extensions.Logging
@using BookGroup.Models 
@inject ILogger<SubmitPostModal> Logger
@using Microsoft.AspNetCore.Components.Forms


<div class="modal fade center" tabindex="-1" role="dialog" id="add-post-modal">
    <div class="modal-content">
        <EditForm Model="@examplePost" OnSubmit="@HandleSubmit" id="my-form-ref">
            <p>sample value: @sampleValue</p>
            <InputText id="inputQuote" @bind-Value="examplePost.Quote" />
            <button onclick="() => debug()" form="my-form-ref" type="submit" value="Submit">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    private BookGroup.Models.Post examplePost = new BookGroup.Models.Post();
    private string sampleValue = "a";
    private void HandleSubmit()
    {
        sampleValue = "b";
        Logger.LogInformation("HandleSubmit called");

        // Process the form
    }
}
